<div id="container">
  <header>
    <a href="/logout">Get out and workout!</a>
  </header>

  <div id="sidebar">
    <dl>
      <dt>Name:</dt>
      <dd><%= @workout.name %></dd>
      <dt>Body part:</dt>
      <dd><%= @workout.body_part %></dd>
      <dt>Weight:</dt>
      <dd><%= @workout.weight %></dd>
      <dt>Sets:</dt>
      <dd><%= @workout.set %></dd>
      <dt>Reps:</dt>
      <dd><%= @workout.rep %></dd>
    </dl>

<a href="/workouts/<%= @workout.id %>/edit">Edit</a>
  </div>

  <h2>What is your feedback about this workout?</h2>

  <div id="feedback">
    <div class="toolbox">
      Date: <input type="date" class="feedback" id="date" />
      Feedback: <textarea class="feedback" id="content"></textarea>
      <button class="add">Leave Feedback</button>
    </div>

    <div class="feedback_list">

    </div>

  <div id="feedback_template" style="display : none;">
    <div class="feedback">
      <h3 class="date">Date: <span></span></h3>
      <!-- <h3 class="from">From: <span></span></h3> -->
      <div class="content"></div>
      <ul>
        <li><a href="#" class="delete">Delete</a></li>
      </ul>
    </div>
  </div>
  <footer>
  this is the footer
  </footer>
</div>
