<% @books.each do |book| %>
  <div id="<%= book.id %>" class="container book">
    <div class="row">
      <div class="col-md-2">
        <img class="img-rounded" src="<%= book.image_link %>">
        <h4><%= book.categories %></h4>
        <h4>ISBN: <%= book.isbn %></h4>
        <h4>Avg. Rating <%= book.average_rating %></h4>
      </div>
      <div class="col-md-4">
        <h2><%= book.title %></h2>
        <h3><%= book.authors %></h3>
      </div>
      <div class="col-md-10">
        <p><%= book.description %></p>
        <% if user_has_book(book.isbn) %>
          <button type="submit" class="btn btn-primary add-book disabled">Added</button>
        <% else %>
          <form role="form" action="/books" method="post">
            <input type="hidden" name="title" value="<%= book.title %>">
            <input type="hidden" name="author" value="<%= book.authors %>">
            <input type="hidden" name="description" value="<%= book.description %>">
            <input type="hidden" name="img_url" value="<%= book.image_link %>">
            <input type="hidden" name="isbn" value="<%= book.isbn %>">
            <input type="hidden" name="average_rating" value="<%= book.average_rating %>">
            <input type="hidden" name="categories" value="<%= book.categories %>">
            <button type="submit" class="btn btn-primary add-book">Add book to your shelf</button>
         </form>
        <% end %>
      </div>
    </div>
  </div>
<% end %>