<div id="<%= @book.id %>" class="container book">
  <div class="row">
    <div class="col-md-2">
      <img class="img-rounded" src="<%= @book.img_url %>">
      <h4><%= @book.categories %></h4>
      <h4>ISBN: <%= @book.isbn %></h4>
      <h4>Avg. Rating <%= @book.average_rating %></h4>
    </div>
    <div class="col-md-4">
      <h1><%= @book.title %></h1>
      <h2><%= @book.author %></h2>
    </div>
    <div class="col-md-10">
      <p><%= @book.description %></p>
       <% if current_user %>
      <form role="form" action="/books/<%= @book.id %>" method="post">
        <button type="submit" class="btn btn-danger remove-book">Remove this from your shelf</button>
        <input type="hidden" name="_method" value="delete">
        <!-- <a href="#" class="btn btn-primary btn-primary">Add book to your shelf</a> -->
      </form>
      <% end %>
    </div>
  </div>

</div>